html,
body {
    /* box-sizing: border-box; */
    margin: 0;
    height: 100%;
    background: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.image-container{
    display: flex;
    /* height: 100%; */
    width: 100%;
    max-width: 100%;
    position: relative;
    /* border: 2px solid #8cc63f */
}

.canvas {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display:block;
    margin:auto;
    /* border-radius: 20px; */
    /* border: 3px solid #0b3954 */
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    transition: 0.25s ease all 0.75s;
    color: #999;
    transform: translateZ(50px);
}

.loading-screen.hidden {
    visibility: hidden;
    opacity:0;
}

figure:hover {
    transform: scale(0.8);
}

figure{
    position: relative;
    font-size: 12px;
    display: flex;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 50px;
    /* background-color:#8cc63f; */
    /* border: 4px solid #8cc63f; */
    border-radius: 4px;
    margin: 10px;
    /* margin-top: 20px; */
    transition: all 0.2s ease-in-out;
}

#preview-0{
    /* background-color:#8cc63f; */
    /* width: 150px;
    height: 150px; */
    background-image: url(image/preview_0.svg);
    background-repeat: no-repeat;
}

#preview-1{
    /* background-color:#8cc63f; */
    /* width: 150px; */
    /* height: 150px; */
    background-image: url(image/preview_1.svg);
    background-repeat: no-repeat;
}

#preview-2{
    /* background-color:#8cc63f; */
    background-image: url(image/preview_2.svg);
    background-repeat: no-repeat;
}

#instagram-logo{
    
    background-image: url(image/instagram_logo.svg);
    background-size: contain;
    /* background-color:#8cc63f; */
    width: 50px;
    height: 50px;
    
}

#behance-logo{
    
    /* display: inline-block; */
    background-image: url(image/behance_logo.svg);
    background-size: contain;
    width: 50px;
    height: 50px;
    
}

.information {
    margin-top:0;
    line-height: 200%;
    font-size: 20pt;
    display: flex;
    text-align: left;
    /* width: 150px; */
}

.social-media-logos {
    justify-content: center;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display:flex;
    margin:auto;
}

.choose-image{
    justify-content: center;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display:flex;
    margin:auto;
}